@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 50%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.item button+button {
  margin-left: 10px;
}
