* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li.item {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-top: 15px;
}

li.item button {
    width: 50px;
    height: 30px;
}