.Header {
    color: red;
    background-color: #dcdcdc;
    padding: 10px;

    .p1 {
        font-size: 18px;
        font-weight: bold;
    }

    .p2 {
        font-size: 16px;
        color: blue;
    }
}
